.card {
    width: 18rem;
}

.div-general {
    height: 600px;
    width: 400px;
}

#div1 {
    display: flex;
}

#margin-card {
    margin-right: 50px;
    margin-left: 300px;
}

#summary {
    width: 500px;
}